{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <h1 class="text-center">About Me</h1>
    <div class="row container">
    <div class="col-sm-6">
        <h3>Short Bio</h3>
        <ul>
            <li>Good Knowledge of DJango(MVT Paradigm,Function Based Views,Class Based Views,ORM QuerySet) </li>
            <li>Good Knowledge of Android (SDK),BackEnd(Firebase)</li>
            <li>Good Knowledge of HTML,CSS,JQuery,JavaScript</li>
            <li>Very Comfortable with VCS(GitHub,Gitlab)</li>
            <li>Familiar with Amazon Web Service (EC2,S3)</li>
            <li>GIthub Link:<a>https://github.com/</a></li>
            <li>GitLab Link:<a>https://gitlab.com/pdipendra_iw</a></li>
        </ul>
        <b>Working Hard To Learn Django,Rest Framework,AWS,Angular JS</b></div>
    <div class="col-sm-6"><img src="{% static 'photo.jpg' %}" height="100px" width="100px"></div>
    </div>
<hr>
    <div class="row container">
    <center><h3>Developer Skills</h3></center>
    <div class="col-sm-6">

     <ul class="list-unstyled">

         <li><b>Programming Language</b></li>
         <li>VCS</li>
         <li>Cloud Technology</li>
     </ul>
    </div>
    <div class="col-sm-6">
         <ul class="list-unstyled">
        <b> <li>Python</li>
        <li>Django</li>
             <li>Java</li>
        <li>Android</li></b>
             <li>Front End (HTML,CSS,JS,Anjular Js)</li>
             <li>Git,Gitlab,Github</li>
             <li>AWS</li>
     </ul>
    </div>
    </div>
{% endblock %}