{% extends 'base.html' %}
{%block content %}
   {% if user.is_authenticated %}

            <div class="form-row"> <span class="badge" style="float: right;">Logged in As: {{ user.username }}</span></div>
    <h2 class="text-center"><a href="{% url 'post' %}"><i class="fa fa-edit"></i>Post New Article</a> </h2>
    <table class="table-bordered">
    <thead>
        <tr>
        <th>
            Title
        </th>
        <th>
            Date
        </th>

        </tr>
    </thead>
    <tbody>
    {% for i in pkey %}

    <tr>
        <td>{{ i.title }}</td>
        <td>{{ i.published_date }}</td>
        <td><button><a href="{% url "post_update" i.pk %}">Update</a></button></td>
        <td> <button><a href="{% url "post_delete" i.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
       <a class="badge" style="float: right;" href="{% url 'logout' %}">Logout</a>
    {% endif %}
{% endblock %}