{% extends 'base.html' %}
{% block content %}
    <h1>THis is Detail View</h1>
     <div style="border-bottom: 1px solid black">
                    <h3 class="text-center">{{ article.title }}</h3>

                    <label>{{ article.author }}</label><br>

                    <label>{{ article.published_date }}</label><br>

{#                    <label>{{ article.slug }}</label><br>#}

                    <center><img height="20%" width="20%" src="{{ article.image.url }}" alt="image{{ article.title }}">
                    </center>
                    <p>{{ article.description }}</p><br>



                </div>
{% endblock %}